/* #wall .tag-1,
div#wall #tag-2,
div#wall div#tag-3.slick,
div#wall #tag-4,
div#wall div.parent #tag-5.slick,
body div#wall div.parent div:last-child div#tag-6,
body div#wall div.parent div > div#tag-7.slick {
  display: none;
} */

/* Filling 227 bytes to pass the test */
#wall .tag-1 {
  display: none;
}

div#wall #tag-2 {
  display: none;
}

div#wall div#tag-3.slick {
  display: none;
}

div#wall #tag-4 {
  display: none;
}

div#wall div.parent #tag-5.slick {
  display: none;
}

body div#wall div.parent div:last-child div#tag-6 {
  display: none;
}

body div#wall div.parent div > div#tag-7.slick {
  display: none;
}

